<ion-header>
  <ion-toolbar>
    <ion-title>
      Gala App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item id="input_field">
          <ion-label position="stacked">Enter URL</ion-label>
          <ion-input type="url" [(ngModel)]=urlInput></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSubmit()">Submit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-label id="redirect_txt">Redirect</ion-label>
      <ion-item id="input_field">
        <ion-checkbox id="redirectBox" [(ngModel)]="isChecked"></ion-checkbox>
      </ion-item>

    </ion-row>
    <ion-row>
      <ion-label>Socket Url = {{serverURL}}</ion-label>
    </ion-row>
  </ion-grid>

  <!-- <div class="webview" [innerHtml]="currUrl | safeHtml"></div> -->
</ion-content>
<!-- Number type input -->


<!--   
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
    your guide.</p> -->